:root {
  --font-medium: 16px;
  --font-large: 24px;

  --serif-family: 'Cinzel Decorative', cursive;
  --sans-serif-family: 'Quicksand', sans-serif;

  --black: #010101;
  --white: #EEEEEE;
  --gray: #DDDDDD;
  --dark-gray: #CCCCCC;

  --primary-font: var(--black);
  --light-font: var(--white);
  --dark-font: var(--black);

  --primary-background: var(--black);
  --light-background: var(--white);
  --medium-background: var(--gray);
  --dark-background: var(--black);
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: var(--light-background);
  font-family: var(--sans-serif-family);
}

.header {
  width: 100%;
  padding: 2em 2em;

  background-color: var(--primary-background);
}

.header__links {
  font-size: 1.5em;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.header__item:not(:first-child) {
  margin-left: 1em;
}

.header__link {
  color: var(--light-font);
  text-decoration: none;
}

.footer {
  width: 100%;
  padding: 2em 2em;

  color: var(--light-font);
  background-color: var(--dark-background);
}

.footer__copyright {
  text-align: center;
}
